<div class="container p-2">
  <form action="">
    <div class="form-group">
      <label>Pick or enter color</label>
      <input class="form-control" [(colorPicker)]="color" cpWidth='230px' cpHeight="100px" [style.background]="color" />
    </div>
  </form>
    <canvas class="canvas border border-success rounded" width="500" height="500" (click)="canvasClick($event)" #canvas></canvas>
 </div>




